html, body{
    background-color: #000000;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family:monospace;
}

h1{
    color: rgb(0, 190, 0);
    font-weight: 300;
    text-align: center;
    margin-top: 5%;
    text-wrap: pretty;
    line-height: 5vh;
}

h2{
    position: absolute;
    top: 35%;
    color:rgb(255, 255, 255);
    font-weight:lighter;
    font-family:system-ui;
    width:100%;
    text-align: center;
    left:0;
    font-size: 2em;
}

#entry{
    position: relative;
    margin-top: 50%;
}

#input{
    width: 50vh;
    height: 5vh;
    text-align: left;
    border-radius: 20px;
    border: 3px solid transparent;
    background-color: rgba(255, 255, 255, 0.11);
    transition: border-width 0.1s ease-in-out, border-color 0.1s ease-in-out;
    color:rgb(0, 190, 0);
    outline: transparent;
    font-family: monospace;
    font-size: 2em;
    padding-left:6%;
    font-weight:300;
}

#input::placeholder{
    position: absolute;
    left:2%;
    color:rgb(0, 190, 0);
    animation: blink 1s infinite steps(1);
}

#input:hover{
    border-width: 3px;
    border-color: #00853E;
    cursor: pointer;
}


.blinkcaret{
    position: absolute;
    width: 2px; 
    height: 35px; 
    background-color: rgb(0, 190, 0); 
    animation: blink 1s infinite steps(1);
    left: 6%; 
    top: 25%;
}

#input:focus +.blinkcaret {
    opacity:0;
    animation:none;
}

@keyframes blink {
    0%, 100% {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
}

.submit{
    align-content: right;
    width: 100%;
}

#btn{
    width:50%;
    height:15%;
    margin-top: 3%;
    margin-left: 55%;
    border-radius: 20px;
    background-color: #00853e28;
    border: 3px solid;
    border-color: #00853E;
    outline-color: transparent;
    font-size:2em;
    font-weight: 450;
    font-family:monospace;
    color:#00853E;
    transition: background-color .1s ease;
}

#btn:hover{
    background-color: #00853e5e;
    cursor:pointer;
}
